p {
  margin-bottom: 4px;
  margin-top: 4px;
  line-height: 1.5;
}

#heading header {
  max-width: 800px;
  height: 200px;
}

#heading-bg {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  clip: auto;
}

#heading span {
  white-space: nowrap;
}

#heading-info {
  max-height: 180px;
  backdrop-filter: blur(12px);
}

#summary {
  font-style: italic;
  padding-left: 1em;
  margin-top: 16px;
  margin-bottom: 16px;
  border-left: 2px solid #d5d34e;
  color: #cdc79b;
}

code {
  font-family: "Ubuntu Mono", Meslo, Consolas, monospace;
  border-radius: 4px;
  color: #a3b3c3;
  padding: 2px 6px;
  background-color: rgb(65, 70, 87, .33);
  font-style: normal;
  font-size: small;
}

.highlight pre {
  font-family: "Ubuntu Mono", Meslo, Consolas, monospace;
  font-size: small;
  padding-left: 1em;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-x: auto;
  border-left: 2px solid #4baa5a;
  background-color: #212121;
}

/* ---- Code caption ---- */
.highlight pre + em, .highlighttable + p > em:first-child {
  padding-bottom: 1em;
  display: block;
  font-size: small;
  text-align: center;
  color: #878a90;
}

.highlighttable {
  display: block;
  overflow-x: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.highlighttable pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

.highlighttable .linenos {
  font-size: small;
}

.highlight pre::-webkit-scrollbar-track, .highlighttable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #A5A5A5; }

.highlight pre::-webkit-scrollbar, .highlighttable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #A5A5A5; }

.highlight pre::-webkit-scrollbar-thumb, .highlighttable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

  .highlighttable {
    margin: 0px !important;
  }

  .highlighttable td {
    border: none !important;
  }

.linenodiv pre {
  font-family: "Ubuntu Mono", Meslo, Consolas, monospace;
  font-size: inherit;
  color: gray;
}

#content-block a {
  text-decoration: underline;
  color: burlywood;
}

#content table {
  margin-top: 16px;
  margin-bottom: 16px;
}

#content thead {
  color: #212121;
  background-color: #69acb9;
}

#content td, th {
  padding: 6px;
  border-bottom: solid 1px #69acb9;
}

h1 {
  font-size: large;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 4px;
}

#content h2 {
  font-size: medium;
  font-style: italic;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 4px;
}

#sidebar_toc {
  padding-top: 16px;
  padding-bottom: 16px;
}

.toctitle {
  font-weight: bold;
  padding-bottom: 4px;
  display: block;
}

#sidebar_toc li {
  padding-top: 2px;
  padding-bottom: 4px;
}

#sidebar_toc li li {
  padding-left:1em;
  font-style: italic;
}

#content blockquote {
  padding: 1em;
  margin-top: 16px;
  margin-bottom: 16px;
  border-left: 2px solid #a3672f;
  background-color: #362e28;
  font-style: italic;
  color: #c4ab96;
}

.center-image, img {
  padding: 16px 0px;
  display: block;
  max-width: 100%;
}

.center-image + em {
  padding: 1em;
  display: block;
  font-size: small;
  text-align: center;
  color: #878a90;
}

#content ul {
  padding-top: 8px;
  padding-bottom: 8px;
}

#content li {
  padding-left: 3em;
  text-indent: -2.5em;
}

#content li:before {
  content: "👉";
  padding-right: 1em;
  padding-left: 2px;
}
